node_modules
pnpm-lock.yaml
local-mongo-replica-set.yml
init-replica.sh
.git
.idea/
package-lock.json
.env
logs/
public/temp/
isolate-*.log
__tests__/data.json
.run
.docker-compose.yml
src/config/connect-database.js
service-account.json